SHIPPO_API_KEY=shippo_test_c9f3c8b5c15b3e0746da5cd7dae700324c077afa
SHIPPO_API_URL=https://api.goshippo.com/tracks/
GCUL_WEBHOOK_URL=http://localhost:8000/webhooks/contract/invoke
GCUL_CONTRACT_ID=1:CTR:004Xowj6B6qufr6kSoaYsRPDZCjCBkbkYtB3xLvimsG59
GCUL_ESCROW_ACCOUNT_ID=1:USR:GBP:424BFwjobbiTBtdjqoPjiHRgmkF1YYvSiTLjCbdbQoz34
GCUL_BUYER_ACCOUNT_ID=1:USR:GBP:425KTfXouwvpG6xrSHDujeEtugeToCBneYUP126PJpZed
GCUL_SELLER_ACCOUNT_ID=1:USR:GBP:425i82CWn2xjPuJiLTgxS9h1sdwfXHkHnYsoLdgKBBZ0f
